@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('./fonts/fonts.css');

@font-face {
    font-family: 'CustomHeading';
    src: url('./fonts/SFAtarianSystem.ttf') format('embedded-opentype'),
        /* Internet Explorer */
        url('./fonts/SFAtarianSystem.ttf') format('woff2'),
        /* Super Modern Browsers */
        url('./fonts/SFAtarianSystem.ttf') format('woff'),
        /* Pretty Modern Browsers */
        url('./fonts/SFAtarianSystem.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('./fonts/SFAtarianSystem.ttf') format('svg');
    /* Legacy iOS */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


:root {
    --base-accent: #fb3f3f;
    --base-background: #131313;
    --base-textcolor: #ededed;
    --base-font: ;
    --base-font-italic: ;
    --base-font-extra-bold: '/fonts/gotham_black.otf';
    --base-font-bold: ;
    --base-font-bold-italic: ;
}


html {
    scroll-behavior: smooth;
}

.material-icons-round {
    vertical-align: middle;
    display: inline-flex;
    font-size: 20px;
    float: right;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
}


body {
    background-color: var(--base-background);
    color: var(--base-textcolor);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: var(--base-accent);
    text-decoration: underline;
    text-decoration-color: var(--base-textcolor);
    font-weight: 700;
    font-family: gotham-black;
    transition: none;
    pointer-events: none;
}


.navbar a {
    box-sizing: border-box;
    display: inline-block;
    font-size: 15px;
    color: var(--base-textcolor);
    font-family: gotham-medium;
    font-weight: 100;
    text-decoration: none;
    font-weight: 510;
    margin-left: 35px;
    transition: .3s;
    transition: transform 250ms;
}
#navbar ul {
    list-style: none;
    margin:0;
    padding: 0;
}
li {
    display: inline-block;
    text-align: center;
    padding: 2px 2px;
  }
/* Underline styles */
a {
    box-sizing: content-box;
    display: inline-block;
    position: relative;
    padding: 0.2em 0;
}

/* Fade in */
a::after {
    content: '';
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.13em;
    background-color: var(--base-accent);
    opacity: 0;
    transition: opacity 100ms, transform 300ms;
}

a:hover::after,
a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

/* Slide in */
a {
    overflow: hidden;
}
a::after {
    opacity: 1;
    transform: translate3d(-101%, 0, 0);
}

a:hover::after,
a:focus::after {
    transform: translate3d(0, 0, 0);
}

/* main page content */
.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: var(--base-accent);
}

.home-content p {
    font-family: gotham-light;
    font-size: 16px;
    font-weight: 800;
    margin: 20px 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(to left, #e53ffb 0%, rgb(255, 255, 255) 100%);
    color: transparent;
    background-clip: text;



    /* color: var(--base-accent); */
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;

    color: #ededed;
}

.btn-box a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background-color: var(--base-accent);
    border: 2px solid var(--base-accent);
    border-radius: 8px;
    color: var(--base-textcolor);
    font-size: 19px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;

}

.btn-box a:nth-child(2) {
    background-color: transparent;
    color: var(--base-accent);
}