@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('./fonts/fonts.css');

@font-face {
    font-family: 'CustomHeading';
    src: url('./fonts/SFAtarianSystem.ttf') format('embedded-opentype'), /* Internet Explorer */
         url('./fonts/SFAtarianSystem.ttf') format('woff2'),             /* Super Modern Browsers */
         url('./fonts/SFAtarianSystem.ttf') format('woff'),              /* Pretty Modern Browsers */
         url('./fonts/SFAtarianSystem.ttf') format('truetype'),          /* Safari, Android, iOS */
         url('./fonts/SFAtarianSystem.ttf') format('svg');               /* Legacy iOS */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


:root {
    --base-accent: #fb3f3f;
    --base-background: #131313; 
    --base-textcolor: #ededed;
    --base-font: ;
    --base-font-italic: ;
    --base-font-extra-bold: '/fonts/gotham_black.otf'; 
    --base-font-bold: ;
    --base-font-bold-italic: ; 
}


html {
    scroll-behavior: smooth;
}

.material-icons-round {
    vertical-align: middle;
    display: inline-flex;
    font-size: 22px;
    float: right;
    margin-left: 10px;
    
  }


body {
    background-color: var(--base-background);
    color: var(--base-textcolor);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: var(--base-accent);
    text-decoration: underline;
    text-decoration-color: var(--base-textcolor);
    font-weight: 700;
    font-family: gotham-black;
}

.navbar a {
    box-sizing: border-box;
    font-size: 15px;
    color: var(--base-textcolor);
    font-family: gotham-medium;
    font-weight: 100;
    text-decoration: none;
    font-weight: 510;
    margin-left: 35px;
    display: inline-block;
    transition: .3s;
    transition: transform 250ms;
}

.navbar a:hover,
.navbar a.active {
        color: var(--base-accent);
        transform: translateY(-5px);
        
}
#navbar ul {
    list-style: none;
    margin:0;
  
  }
  #navbar ul a {
    display: inline-block;
      display:inline;
      margin: 20px;
  }

.home  {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.home-content {   
    max-width: 600px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.home-content h3 { 
    font-size: 32px;
    font-weight: 700;
    color: var(--base-accent);
}

.home-content p {
    font-family: gotham-light;
    font-size: 16px;
    font-weight: 800;
    margin: 20px 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(61deg, #fb3f3f 0%, rgba(252,70,107,1) 100%);
    color: transparent;
    background-clip: text;
   
    

   /* color: var(--base-accent); */
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;

    color: #ededed;
}

.btn-box a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background-color: var(--base-accent);
    border: 2px solid var(--base-accent);
    border-radius: 8px;
    color: var(--base-textcolor);
    font-size: 19px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    
}

.btn-box a:nth-child(2) {
    background-color: transparent;
    color: var(--base-accent);
}