@font-face {
    font-family: gotham-black;
    src: url(/fonts/gotham_black.otf) format(truetype);
    font-weight: 500;
}

@font-face {
    font-family: gotham-black-italic;
    src: url(/fonts/gotham_blackitalic.otf) format(truetype);
    font-style: italic;
}

@font-face {
    font-family: gotham-medium;
    src: url(/fonts/gotham_medium.otf) format(truetype);
    font-weight: 100;
}

@font-face {
    font-family: gotham-medium-italic;
    src: url(/fonts/gotham_medium.otf) format(truetype);
    font-style: italic;
}

@font-face {
    font-family: gotham-light;
    src: url(/fonts/gotham_light.otf) format(truetype);
}

@font-face {
    font-family: gotham-light-italic;
    src: url(/fonts/gotham_lightitalic.otf) format(truetype);
    font-style: italic;
}

@font-face {
    font-family: gotham-book;
    src: url(/fonts/gotham_book.otf) format(truetype);
}

@font-face {
    font-family: gotham-book-italic;
    src: url(/fonts/gotham_bookitalic.otf) format(truetype);
    font-style: italic;
}